@font-face
{
    font-family: social;
    src: url(../../fonts/social_font.ttf);
}

@font-face
{
    font-family: wolf;
    src: url(../../fonts/wolf.ttf);
}


html, body {
    height: 100%;
    width: 100%;

    background-color: white;
}

a {
    text-decoration: none;
}




#main-content {

    display: inline-block;
    width: 70%;
    height: 99%;
    padding-top: 5px;
    padding-bottom: 0px;

    overflow-x: hidden;
    overflow-y: hidden;

    #main-title {
        position: fixed;
        bottom: 0px;
        left: 50px;
        margin: 0px;
        z-index: 1;
        font-size: 20em;
        font-family: wolf;
        line-height: 1;
    }
    
    #color-area {
        border-collapse: separate; 
        border-spacing: 3px;

        position: relative;    
        z-index: 2;

        .row {
            line-height: 12px;
            .square {
                min-width: 12px;
                max-width: 12px;
                height: 12px;
                margin: 0px;
                background-color: #bdc3c7;
                cursor: pointer;
            }
        }
        
        &.not-started .square:hover {
            background-color: #3498db;
        }
    
        &.edition .square:hover {
            background-color: #34495e;
        }
    }
}

#panel {

    position: relative;
    display: inline-block;
    width: 29%;
    height: 98%;
    padding-top: 20px;
    padding-left: 20px;
    vertical-align: top;
    text-align: center;

    font-size: 15px;

    &>div {
        width: 90%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 50px;
        text-align: right;
    }

    #social-container {
    
        line-height: 1;

        text-align: right;
        font-family: social;
        font-size: 50px;

        #twitter-lk {
            a {
                color: #8e44ad;
            }
    
            a:hover {
                color: #9b59b6;
            }
        }
    
        #github-lk {
            margin-bottom: 5px;

            a {
                color: #e67e22;
                color: #8e44ad;
            }
    
            a:hover {
                color: #f39c12;
                color: #9b59b6;
            }
        }
    }

    .radio {
    
        &.checked, .second-icon {
            color: #f1c40f; //#8e44ad;
        }
    }


    table#options {

        td {
            width: 300px;
        }

        .lbl {
            text-align: right;
            margin-right: 30px;
            font-weight: bold;
        }
    
        .val {
            text-align: left;
            margin-left: 30px;
        }
    }

    .delta-container {

        .ui-slider {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .lbl {
            margin-bottom: 40px;
        }

        #deltar {
            .ui-slider-range, .ui-slider-handle {
               background-color: #e74c3c;
            }
        }

        #deltag {
            .ui-slider-range, .ui-slider-handle {
               background-color: #2ecc71;
            }
        }

        #deltab {
            .ui-slider-range, .ui-slider-handle {
               background-color: #3498db;
            }
        }

    }

    #foot-btns {
        position: absolute;
        bottom: 0px;
        padding: 0px;

        #clean-container {
        
            .btn {
                font-size: 20px;
                width: 48%;
                float: right;
    
                &:first-child {
                    float: left;
                }
            }
        }

        #save-container {
            margin-bottom: 20px;

            .btn {
                background-color: #f39c12;
                font-size: 20px;
                width: 100%;
    
                &:hover {
                    background-color: #f1c40f;
                }
            }
        }
    }
}
