@font-face {
  font-family: social;
  src: url(../../fonts/social_font.ttf);
}

@font-face {
  font-family: wolf;
  src: url(../../fonts/wolf.ttf);
}

/* line 14, ../../scss/style.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* line 21, ../../scss/style.scss */
a {
  text-decoration: none;
}

/* line 28, ../../scss/style.scss */
#main-content {
  display: inline-block;
  width: 70%;
  height: 99%;
  padding-top: 5px;
  padding-bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 39, ../../scss/style.scss */
#main-content #main-title {
  position: fixed;
  bottom: 0px;
  left: 50px;
  margin: 0px;
  z-index: 1;
  font-size: 20em;
  font-family: wolf;
  line-height: 1;
}
/* line 50, ../../scss/style.scss */
#main-content #color-area {
  border-collapse: separate;
  border-spacing: 3px;
  position: relative;
  z-index: 2;
}
/* line 57, ../../scss/style.scss */
#main-content #color-area .row {
  line-height: 12px;
}
/* line 59, ../../scss/style.scss */
#main-content #color-area .row .square {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  margin: 0px;
  background-color: #bdc3c7;
  cursor: pointer;
}
/* line 69, ../../scss/style.scss */
#main-content #color-area.not-started .square:hover {
  background-color: #3498db;
}
/* line 73, ../../scss/style.scss */
#main-content #color-area.edition .square:hover {
  background-color: #34495e;
}

/* line 79, ../../scss/style.scss */
#panel {
  position: relative;
  display: inline-block;
  width: 29%;
  height: 98%;
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: top;
  text-align: center;
  font-size: 15px;
}
/* line 92, ../../scss/style.scss */
#panel #options {
  position: absolute;
  top: 150px;
  bottom: 146px;
  overflow-y: scroll;
}
/* line 100, ../../scss/style.scss */
#panel #options > div, #panel #foot-btns {
  width: 90%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: right;
}
/* line 107, ../../scss/style.scss */
#panel #options > div {
  margin-bottom: 50px;
}
/* line 111, ../../scss/style.scss */
#panel #social-container {
  position: absolute;
  top: 5px;
  height: 105px;
  width: 90%;
  margin-right: 5%;
  margin-top: 10px;
  text-align: right;
  line-height: 1;
  text-align: right;
  font-family: social;
  font-size: 50px;
}
/* line 129, ../../scss/style.scss */
#panel #social-container #twitter-lk a {
  color: #8e44ad;
}
/* line 133, ../../scss/style.scss */
#panel #social-container #twitter-lk a:hover {
  color: #9b59b6;
}
/* line 138, ../../scss/style.scss */
#panel #social-container #github-lk {
  margin-bottom: 5px;
}
/* line 141, ../../scss/style.scss */
#panel #social-container #github-lk a {
  color: #e67e22;
  color: #8e44ad;
}
/* line 146, ../../scss/style.scss */
#panel #social-container #github-lk a:hover {
  color: #f39c12;
  color: #9b59b6;
}
/* line 155, ../../scss/style.scss */
#panel .radio.checked, #panel .radio .second-icon {
  color: #f1c40f;
}
/* line 162, ../../scss/style.scss */
#panel .delta-container .ui-slider {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 167, ../../scss/style.scss */
#panel .delta-container .lbl {
  margin-bottom: 40px;
}
/* line 172, ../../scss/style.scss */
#panel .delta-container #deltar .ui-slider-range, #panel .delta-container #deltar .ui-slider-handle {
  background-color: #e74c3c;
}
/* line 178, ../../scss/style.scss */
#panel .delta-container #deltag .ui-slider-range, #panel .delta-container #deltag .ui-slider-handle {
  background-color: #2ecc71;
}
/* line 184, ../../scss/style.scss */
#panel .delta-container #deltab .ui-slider-range, #panel .delta-container #deltab .ui-slider-handle {
  background-color: #3498db;
}
/* line 191, ../../scss/style.scss */
#panel #foot-btns {
  position: absolute;
  bottom: 0px;
  height: 116px;
  padding: 0px;
}
/* line 200, ../../scss/style.scss */
#panel #foot-btns #clean-container .btn {
  font-size: 20px;
  width: 48%;
  float: right;
}
/* line 205, ../../scss/style.scss */
#panel #foot-btns #clean-container .btn:first-child {
  float: left;
}
/* line 211, ../../scss/style.scss */
#panel #foot-btns #save-container {
  margin-bottom: 20px;
}
/* line 214, ../../scss/style.scss */
#panel #foot-btns #save-container .btn {
  background-color: #f39c12;
  font-size: 20px;
  width: 100%;
}
/* line 219, ../../scss/style.scss */
#panel #foot-btns #save-container .btn:hover {
  background-color: #f1c40f;
}
