/* line 2, ../../scss/style.scss */
a {
  text-decoration: none;
}

/* line 6, ../../scss/style.scss */
#color-area {
  font-size: 0.7em;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
/* line 15, ../../scss/style.scss */
#color-area .row {
  line-height: 1.5em;
}
/* line 18, ../../scss/style.scss */
#color-area .row .square {
  color: #bdc3c7;
  cursor: pointer;
}

/* line 29, ../../scss/style.scss */
#panel {
  width: 100%;
  margin-top: 70px;
  text-align: center;
}
/* line 36, ../../scss/style.scss */
#panel .radio {
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}
/* line 43, ../../scss/style.scss */
#panel table#options {
  margin: auto;
  margin-bottom: 50px;
}
/* line 48, ../../scss/style.scss */
#panel table#options td {
  width: 300px;
}
/* line 52, ../../scss/style.scss */
#panel table#options .lbl {
  text-align: right;
  margin-right: 30px;
  font-weight: bold;
}
/* line 58, ../../scss/style.scss */
#panel table#options .val {
  text-align: left;
  margin-left: 30px;
}
/* line 64, ../../scss/style.scss */
#panel div {
  margin-top: 50px;
}
/* line 67, ../../scss/style.scss */
#panel div#color-picker {
  width: 300px;
  margin: auto;
}
