<!DOCTYPE HTML>

<head>
	{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'color/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'color/css/flat-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'color/generated/css/style.css' %}" />

    <script src="{% static 'color/js/jquery.min.js' %}"></script>
    <script src="{% static 'color/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'color/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'color/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'color/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'color/js/jquery.tagsinput.js' %}"></script>
    <script src="{% static 'color/js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'color/js/application.js' %}"></script>
    <script src="{% static 'color/js/flatui-radio.js' %}"></script>
    <script src="{% static 'color/js/html2canvas.js' %}"></script>
    <script src="{% static 'color/js/canvasToBlob.js' %}"></script>
    <script src="{% static 'color/js/FileSaver.js' %}"></script>
    <!--
    <script src="{% static 'color/js/html5shiv.js' %}"></script>
    <script src="{% static 'color/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'color/js/typeahead.js' %}"></script>
    <script src="{% static 'color/js/respond.min.js' %}"></script>
    -->

</head>


<body>

    {% load color_extras %}

    <div id="main-content">
        <table id="color-area" class="not-started">
        {% for i in 100|get_range %}
            <tr class="row">
            {% for j in 100|get_range %}
                <td class="square" id="{{ forloop.parentloop.counter }}-{{ forloop.counter }}"></td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    
        <span id="main-title">Colorandy</span>
    </div>

    <div id="panel">

        <div id="social-container">
            <div id="github-lk" class="social">
                <a href="https://github.com/Frky/colorandy">Ä</a>
            </div>
            <div id="twitter-lk" class="social">
                <a href="https://twitter.com/_Frky">t</a>
            </div>
        </div>

        <div id="options">

        <div class="radio-container">
            <label class="radio">
              <input type="radio" name="edition-rb" value="1" data-toggle="radio" checked>
              Edition mode is off
            </label>
            <label class="radio">
              <input type="radio" name="edition-rb" value="2" data-toggle="radio">
              Edit point by point
            </label>
            <label class="radio">
              <input type="radio" name="edition-rb" value="3" data-toggle="radio">
              Draw lines
            </label>
        </div>

        <div class="delta-container">
            <div id="deltar" class="ui-slider"></div>
            <div class="lbl">delta R</div>
            <div id="deltag" class="ui-slider"></div>
            <div class="lbl">delta G</div>
            <div id="deltab" class="ui-slider"></div>
            <div class="lbl">delta B</div>
        </div>

        <div class="delta-container">
            <div id="prop-speed" class="ui-slider"></div>
            <div class="lbl">propagation speed</div>
        </div>

        <div id="text-bg" class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="" value="Colorandy" />
            <span class="input-group-addon">Background text</span>
          </div>
        </div>

        </div>

        <div id="foot-btns">
            <div id="save-container">
                <input type="button" id="save" class="btn btn-inverse" value="Take a pic'">
            </div>

            <div id="clean-container">            
                <input type="button" id="clean-btn" class="btn btn-inverse" value="Clean the mess">
                <input type="button" id="clean-borders-btn" class="btn btn-inverse" value="Clean borders">
            </div>
        </div>


    </div>
    
    <script src="{% static 'color/js/colorify.js' %}"></script>
</body>
</html>
